coverage
dist
node_modules
tsconfig.tsbuildinfo
# Next
next-env.d.ts
schema.graphql
src/types/api.ts
/.next/
/out/
*.log
.*
.yarn/*
!/storybook
!.babelrc.js
!.cspell.json
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitattributes
!.github
!.gitignore
!.gitlab
!.gitlab-ci.yml
!.husky
!.lintstagedrc.js
!.mergify.yml
!.npmignore
!.npmrc
!.nvmrc
!.prettierignore
!.storybook
!.vscode
!.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml

# Sentry
.sentryclirc

sanity/public/
