.DS_Store
dist
build
node_modules
coverage
tsconfig.tsbuildinfo
# Next
next-env.d.ts
src/types/api.ts
/.next/
/out/
*.log
.*
.yarn/*

*.log
.*
!.babelrc
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.eslintrc.js
!.gitignore
!tsconfig.json
!.prettierignore
!.prettierrc
# !.github
!.lintstagedrc.js
!.nvmrc
!.mergify.yml

!.gitattributes
!.npmignore
!.npmrc
!.nvmrc
!.vscode
!.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml