.modalHeader {
  cursor: move;
  z-index: 11;
  background-color: aqua;
  width: 100%;
  height: auto;
}

.modal {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #aaa;
  padding: 0;
  z-index: 10;
}