.modal {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 20rem;
  top: calc(50% - (2rem + 9rem) / 2);
  left: calc(50% - 20rem / 2);
  background-color: #aaa;
  padding: 0rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  cursor: move;
  background-color: darkblue;
  color: white;
  width: 100%;
  height: 2rem;
}

.tabs {
  padding-left: 0.2rem;
  padding-top: 0.25rem;
}

.activeTab {
  border-bottom: none;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  background-color: #aaa;
  font-weight: 600;
  height: 1.75rem;
}

.inactiveTab {
  border-bottom: darkblue;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: #eee;
  color: #777;
  font-weight: 500;
  height: 1.75rem;
}

.inactiveTab:hover {
  background-color: #ddd;
  color: black;
}

.headerText {
  padding: 0.25rem 0.5rem
}

.closeBtn {
  border: 1px solid darkblue;
  color: white;
  background-color: darkblue;
  height: 100%;
  font-weight: 700;
  width: 2rem;
}

.closeBtn:hover {
  border: 1px solid red;
  background-color: red;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9rem;
}