.modalHeader {
  cursor: move;
  background-color: aqua;
  width: 100%;
  height: auto;
}

.modal {
  border: 1px solid black;
  cursor: move;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #aaa;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}