.navbar{
  background-color: #555;
  color: white;
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;
  z-index: 999999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
}

.modalBtn {
  height: 75%;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4rem;
}

.modalBtn:hover{
  background-color: #ccc;
}