.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    width: inherit;
    outline: 0;
}

.modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: auto;
    border-radius: 8px;
    padding: 1rem;
}

.modal-header,
.modal-footer {
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.modal-body {
    padding: 10px;
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-button {
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.modal-close-button {
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
    margin-left: 0.5rem;
    background: none;
    margin-bottom: 3rem;
}

.modal-button :hover {
    cursor: pointer;
}