.modalOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  max-height: 500px;
  max-width: 350px;
  z-index: 1;
}

.modalHeader {
  position: relative;
}

.modalTitle {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Helvetica';
  color: #333;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.modalFooter {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
