.button {
  width: fit-content;

  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;

  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  color: var(--font-color);
  cursor: pointer;
}

.button:hover {
  border-color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.iconButton {
  background-color: inherit;
  color: inherit;
}
