:root {
  --font-color: rgba(255, 255, 255, 0.87);
  --font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family);
  color: var(--font-color);
  background-color: #242424;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
