.root {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  inset: 0;
  position: fixed;
}
:root:has(.root) {
  overflow: hidden;
}
.backdrop {
  background: rgba(0, 0, 0, 0.1);
  inset: 0;
  position: fixed;
  z-index: -1;
}
.modal {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: auto;
  max-height: calc((100% - 6px) - 2em);
  max-width: calc((100% - 6px) - 2em);
  overflow: auto;
  padding: 16px;
}
@media only screen and (min-width: 664px) {
  .modal {
    max-width: 632px;
  }
}
